<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员系统</title>
    <link rel="stylesheet" href="/static/bs/bs3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <td><a href="">人员</a></td>
                <td><a href="">设备</a></td>
                <td><a href="">试样</a></td>
                <td><a href="">方法</a></td>
            </tr>
            <tr>
                <td><a href="">原始记录</a></td>
                <td><a href="">检测报告</a></td>
                <td><a href="">报价</a></td>
            </tr>
        </table>
    </div>

</div>


<script src="/static/bs/bs3.3.7/js/jquery-3.4.1.js"></script>
<script src="/static/bs/bs3.3.7/js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>